body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #333238;
}

h1,
h2 {
	border-bottom: 1px solid #e6e6ea;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
	background: #e6e6ea;
	padding: 2px;
	border-radius: 2px;
}

pre code {
	display: block;
	padding: 15px;
	overflow: auto;
}

a {
	color: #1f75cb;
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	color: #1f75cb;
	text-decoration: underline;
}

/* CONTENT */

.content {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding: 15px;
	box-sizing: border-box;
}

#readme {
	& a + a {
		margin-left: 5px;
	}
}

#examples h2 {
	width: 100%;
	margin-top: 0;
}

/* EXAMPLES */
